.logo {
  position: relative;

  bottom: 50px;
  width: 200px;
}

.heading {
  position: relative;
  bottom: 10px;
  font-family: "Copperplate, Papyrus, fantasy";
}
.my-col1 {
  /* position: absolute;*/

  padding-top: 30px;
}

.my-col2 {
  /* position: absolute;*/
  padding-bottom: 30px;
  padding-top: 70px;
}
.btnNames {
  font-size: 50px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 350px;
  height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.733), 0 1px 3px rgba(0, 0, 0, 0.08);
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

/*Button Secondary*/
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}
.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

/*Button Success*/
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

/*Button Danger*/

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

/*Button info*/
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
/*=============================================*/

.imgfooter {
  width: 30px;
  height: 30px;
}

.containerfooter {
  font-size: 20px;
  font-family: Comic Sans MS;
  margin-left: 50px;
  color: #96101ee3;
}

.headcontact {
  margin-left: 110px;
  font-size: 30px;
  font-weight: 650;
  margin-left: 50px;
}
.tel {
  margin-right: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.smi {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.facebook {
  /*position: absolute; */
  left: 650px;
  bottom: -180px;

  /* margin-left: 635px; */
}
.linkedin {
  /* position: absolute;
  left: 775px;
  bottom: -180px;
  */
  margin-left: 95px;
}
.youtube {
  /* position: absolute;
  left: 890px;
  bottom: -180px;
  */

  margin-left: 95px;
}
